*.o
*.obj
*.lo
*.la
*.al
*.so
*.so.[0-9]*
*.dll
*.lib
*.a
*.log
.libs
*.depend
*.layout
*.pyc
*.pyo
__pycache__
*.rej
*~
#*#
.#*
.*.swp
*.layout
*.suo
*.ncb
*.user
.DS_Store
Debug
Release
Profile
cpp/app/gps_aided_imu_filter_app/Template
cpp/bin
cpp/dist
cpp/doc/html
cpp/doc/rtf
cpp/lib
cpp/test/wglview_test/Template
csharp/bin
csharp/dist
csharp/doc/html
csharp/doc/rtf
csharp/lib
java/bin
java/dist
java/doc/html
java/doc/rtf
java/lib
